* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
    text-align: center;
}

.win {
    background-image: url(../WinorLose/photos/winsScherm.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    background-position: center center;
}

.lose {
    background-image: url(../WinorLose/photos/YOULOST.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    background-position: center center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

p, h2 {
    color: white;
}